<div class="login-form">
  <h2>Log in</h2>
  <p class="hint-text">Create your account. It's free and only takes a minute.</p>
  <div class="form-group" >
    <%= form_for(:session, url: login_path) do |f| %>
      <%= f.label :email, "Email or Username" %>
      <%= f.text_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Remember me on this computer</span>
      <% end %>
      
      <%= f.submit "Log in", class: "btn btn-success btn-lg btn-block" %>
      
      <p>New user? <%= link_to "Sign up now!", new_user_path %></p>
    <% end %>
  </div>
</div>
