<div class="qa-part-form-profile"  id="target" class="collapse">
  <h2>Change Password</h2>
  <%= form_for (@user) do |f|%>
    <%= render "shared/error_messages", user: @user %>

    <%= f.password_field :oldpassword, class: "form-control", placeholder: "Old password"%>
    <br>
    <%= f.password_field :newpassword, class: "form-control", placeholder: "New password"%>
    <br>
    <%= f.submit "Change now",  class: "btn btn-success btn-lg btn-block"%>
  <% end %>
  <br>
</div>
