<div class="qa-main-heading">
  <h1>
    Result for : <%= params[:search] %>
  </h1>
</div>
<div class="qa-q-list">
  <% questions.each do |question| %>
    <div class="qa-q-list-item" id="q75385">
      <div class="qa-q-item-stats">
        <div class="qa-voting qa-voting-net" id="voting_75385">
          <div class="qa-vote-buttons qa-vote-buttons-net">
            <input title="Click to vote up" name="vote_75385_1_q75385" onclick="return qa_vote_click(this);" type="submit" value="+" class="qa-vote-first-button qa-vote-up-button"> 
            <input title="Click to vote down" name="vote_75385_-1_q75385" onclick="return qa_vote_click(this);" type="submit" value="–" class="qa-vote-second-button qa-vote-down-button"> 
          </div>
          <div class="qa-vote-count qa-vote-count-net">
            <span class="qa-netvote-count">
              <span class="qa-netvote-count-data">0</span><span class="qa-netvote-count-pad"> votes</span>
            </span>
          </div>
          <div class="qa-vote-clear">
          </div>
        </div>
        <span class="qa-a-count qa-a-count-zero">
          <span class="qa-a-count-data">0</span><span class="qa-a-count-pad"> answers</span>
        </span>
        <span class="qa-view-count">
          <span class="qa-view-count-data"><%= question.view %></span><span class="qa-view-count-pad"> views</span>
        </span>
      </div>
      <div class="qa-q-item-main">
        <div class="qa-q-item-title">
          <span title=""><%= link_to "#{question.title}", question_path(question)%></span>
        </div>
        <span class="qa-q-item-avatar-meta">
          <span class="qa-q-item-meta">
            <span class="qa-q-item-what">asked</span>
            <span class="qa-q-item-when">
              <span class="qa-q-item-when-data"><%= time_ago_in_words(question.created_at) %></span><span class="qa-q-item-when-pad"> ago</span>
            </span>
            <span class="qa-q-item-who">
              <span class="qa-q-item-who-pad">by </span>
              <span class="qa-q-item-who-data">
                <%= link_to "#{question.user.username}", user_path(question.user) %>
              </span>
            </span>
          </span>
        </span>
        <div class="qa-q-item-tags">
          <ul class="qa-q-item-tag-list">
            <li class="qa-q-item-tag-item">
              <% (question.tags).each do |tag| %>
                <%= link_to tag.content, "#{tag.content}", class: "qa-tag-link" %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
      <div class="qa-q-item-clear">
      </div>
    </div>
  <% end %>
  <%= will_paginate questions %>
</div>
