<header class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li class="active">
      <%= link_to root_path do %>
      Question2Answer
      <%= image_tag "https://image.flaticon.com/icons/svg/25/25694.svg", width: 25, height: 25%>
      <% end %>
    </li>
    <li class="active">
      <%= link_to root_path do %>
      Questions
      <%= image_tag "https://image.flaticon.com/icons/svg/189/189665.svg", width: 25, height: 25%>
      <% end %>
    </li>
    <li class="active">
      <%= link_to root_path do %>
      Unanswered
      <%= image_tag "https://image.flaticon.com/icons/svg/179/179348.svg", width: 25, height: 25%>
      <% end %>
    </li>
    <li class="active">
      <%= link_to root_path do %>
      Tags
      <%= image_tag "https://image.flaticon.com/icons/svg/138/138238.svg", width: 25, height: 25%>
      <% end %>
    </li>
    <li class="active">
      <%= link_to root_path do %>
      Users
      <%= image_tag "https://image.flaticon.com/icons/svg/1256/1256661.svg", width: 25, height: 25%>
      <% end %>
    </li>
    <li class="active">
      <%= link_to root_path do %>
      Ask a Questions
      <%= image_tag "https://image.flaticon.com/icons/svg/1250/1250223.svg", width: 25, height: 25%>
      <% end %>
    </li>
    <form class="navbar-form navbar-left">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Search</button>
    </form>
    <% if logged_in? %>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account</a>
      <ul class="dropdown-menu">
        <li><%= link_to current_user.username , current_user%></li>
        <li>
          <%= link_to "Log out", logout_path, method: :delete %>
        </li>
      </ul>
    </li>
    <% else %>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to login_path do %>
        Log in
        <%= image_tag "https://image.flaticon.com/icons/svg/58/58950.svg", width: 25, height: 25%>
        <% end %>
      </li>
    </ul>
    <% end %>
  </ul>
</header>
